This is our irst class of Python programming. Text: Smarter way to learn Python

In [3]:
print(12)

12

In [4]:
print('Pakistan')

Pakistan

In [5]:
print(12,46,34,89)

12 46 34 89

In [6]:
print('pakistan', "china")

pakistan china

In [12]:
#separator being modified than default
print('Pakistan','China','India',sep='Iamaseparator')

PakistanIamaseparatorChinaIamaseparatorIndia

In [13]:
print('Pakistan','China','India',sep='*******')

Pakistan*******China*******India

In [15]:
# modifying end command
print('Pakistan',end='\n')
print('China')
print('India')

Pakistan
China
India

In [17]:
# modifying end command
print('Pakistan',end='')
print('China',end='')
print('India')

PakistanChinaIndia

In [18]:
print('Pakistan',end='\t')
print('China',end='\t')
print('India',end='\t')

Pakistan	China	India

You will have to list dwon all the escape characters in python language, Next cell has been restricted for it.

Implement every escape character

# Task 01

In [23]:
print('Pakistan is a wonderful \\ncountry','China','India',sep='\n')

Pakistan is a wonderful \ncountry
China
India

# 2

Variables for string

Data: Numbers >>> Numeric
      Integers, decimals>>>>>
      
      Characters>>>>String>>>> it is always qouted>>>
      Boolean >>> True/False>>>>>0,1
      
Category of Data is "DATA TYPE"

What is Variable??

Variable >>> placeholder

In [24]:
name = 'Nasir Hussain'

In [25]:
print(name)

Nasir Hussain

In [28]:
age = 45   #45 is assigned to variable age
print(age)

45

In [31]:
taxationRateOfYear2019=12 #Camel Casing

# 3 Variables for numbers

In [36]:
weight=65
type(weight)

int

In [37]:
print(weight+5)

70

In [38]:
10/10 #by default division is floating point

1.0

In [40]:
10//10 #double slash for integer answer

1

In [42]:
int(10.0/10)

1

## 6 unfamiliar operators

In [47]:
# modulus % returns remainder of the division
print(45//10)
print(45%10)

4
5

increment decrement

In [48]:
price=100

In [58]:
price//=10
print(price)

90

In [59]:
round(10/3,4) #

3.3333

## 7 Math expressions: Eliminating ambiguity

In [3]:
ans = 2+3*10/2

In [4]:
ans

17.0

In [5]:
res = 1/2*5+4/2
print(res)

4.5

In [6]:
res1=10/2**3/3
res1

0.4166666666666667

In [7]:
res=9**0.5
res

3.0

# Concatenating Text Strings

In [13]:
firstName= 'Nasir'
lastName= 'Hussain'

In [14]:
fullName= firstName +' ' + lastName
fullName

'Nasir Hussain'

In [20]:
name = 'Usama'
age = 20

sentence = 'my name is' + ' ' +name +' '+ 'and my age is ' +str(age)
sentence

'my name is Usama and my age is 20'

In [24]:
dosraSentence = 'after 10 years my age wil be'+' ' + str(age+10)

In [25]:
dosraSentence

'after 10 years my age wil be 30'

In [29]:
name=input('Enter your good name please:>')
age =int(input('Enter you age please'))

Enter your good name please:>Nasir
Enter you age please20

In [30]:
type(name)

str

In [31]:
type(age)

int

In [37]:
print('Welcome Mr.{1} I know your age is {0}'.format(name,age))o

Welcome Mr.20 I know your age is Nasir

In [38]:
print(f'Welcome Mr.{name} I know your age is {age}')

Welcome Mr.Nasir I know your age is 20

Variable is what stores information and data