In [23]:
a=100

In [13]:
a+10

150

In [6]:
a

100

In [30]:
a//=10

In [31]:
a

0

# Concatenating + type casting

In [40]:
a='apple'
b=100

In [41]:
a+str(b)

'apple100'

In [42]:
c='100'

In [44]:
c*5

'100100100100100'

In [51]:
name

'12345678'

ALL inputs are in string type by default

In [61]:
num='A'
ord(num)

65

In [62]:
ord(num)+1

66

In [63]:
chr(ord(num)+1)

'B'

In [65]:
chr(90)

'Z'

In [68]:
name='NasirHussain'
for char in name:
    print(ord(char),end='')

78971151051147211711511597105110

In [69]:
name='78971151051147211711511597105110'
for char in name:
    print(chr(int(char)),end='')

	 	  

In [72]:
name = input('Enter your name')
age = int(input('Enter your age'))

Enter your nameNasir Hussain
Enter your age20

In [75]:
print('my name is '+name+ ' and my age is '+str(age))

my name is Nasir Hussain and my age is 20

In [77]:
print('my name is {0} and my age is {1}'.format(name,age))

my name is Nasir Hussain and my age is 20

In [79]:
print(f'my name is {name} and my age is {age}')

my name is Nasir Hussain and my age is 20

In [88]:
age = int(input('Enter your age '))
if age>=20:
    print('Adult')
elif age>12:
    print('Teenager')
else:
    print('Child')

Enter your age 20
Adult

In [1]:
cnic=input('Do you have a CNIC?  ').lower().replace(' ','')

if cnic=='yes':
    print('Go inside')
    nameInList=input('is your name in voter list ').lower().replace(' ','')
    if nameInList=='yes':
        print('You can cast vote')
    else:
        print('sorry your name is not in the voter list so you can vote')
else:
    print("you can't vote without a cnic")

Do you have a CNIC?  yes
Go inside
is your name in voter list Y E S
You can cast vote

In [94]:
"PAKISTAN".lower()

'pakistan'

In [95]:
'pakistan'.upper()

'PAKISTAN'

In [96]:
'pakistan'.title()

'Pakistan'

In [98]:
' yes '.rstrip()

' yes'

In [100]:
' yes '.lstrip()

'yes '

In [101]:
' yes '.strip()

'yes'

In [106]:
'y e s'.replace(' ','')

'yes'

# Task 02 is to solve this problem of input

In [104]:
'PAKISTAN India'.title()

'Pakistan India'

In [105]:
'Pakitan'.replace("a","b")

'Pbkitbn'

In [4]:
lic=input('Do you have a driving licence?  ').lower().replace(' ','')
if lic=="yes":
    print('chalo jao')
else:
    papers=input('Do you have car ownership papers?  ').lower().replace(' ','')
    if papers=='yes':
        print('chalo jao')
    else:
        money=input('do you have money?').lower().replace(' ','')
        if money=='yes':
            print('ok paisay de kar jao')
        else:
            print('chal Thaanay')

Do you have a driving licence?  n
Do you have car ownership papers?  n
do you have money?n
chal Thaanay

In [ ]:
ans = ''
license= input(Do oyu have a license?).lower()
if license='yes':
    ans='jao'
elif